*{
    margin: 0;
    padding: 0;
}
.fixed_button{
    position: fixed;
    width: 100%;
    display: flex;
    bottom: 0;
}
iframe{
    position: absolute;
    width: 100%;
    height: calc(100% - 4em) ;
}
.fixed_button a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    text-decoration: none;
    color: white;
}
.btn_1{
    background-color: #2b7485;
}
.btn_2{
    background-color: #2aa5bc;
}
.btn_3{
    background-color: #ec8021;
}
